<div class="page-header clearfix">
  <h1>
    <%= @current_model.model_name.human.pluralize %>

    <div class="action-buttons-bar pull-right">
      <%= link_to(glyphicon(:chevron_left),
                  settings_users_path(keep_filters: 1), {
                      :title => t('commons.back'),
                      :class => 'btn btn-primary has-tooltip'}) %>
      <%= link_to(glyphicon(:option_horizontal),
                  permissions_settings_user_path(@item), {
                      :title => t('commons.permissions'),
                      :class => 'btn btn-group btn-primary has-tooltip'}) unless (@item.new_record?) %>
      <%= link_to(glyphicon(:eye_open), @item, {
                                              :title => t('commons.show'),
                                              :class => 'btn btn-primary has-tooltip'}) unless (@item.new_record?) %>
    </div>
  </h1>
</div>
<%= simple_form_for(@item,
                    html: {class: 'form-horizontal'},
                    wrapper: :horizontal_form) do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title">
          <h2><%= t('commons.controller.form.panel_heading') %></h2>

          <p class="small">
            <%= t("commons.controller.form.panel_introduction_html") %>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <%#= f.error_messages %>
        <h3>Informations</h3>
        <hr/>
        <%= f.input :civility, collection: ['M', 'Mme', 'Melle'] %>
        <% for field in [:firstname, :lastname, :pseudonym, :email, :password, :password_confirmation] -%>
            <%= f.input field %>
        <% end -%>
        <%= f.input :current_password unless (@item.new_record?) %>

        <h3><%= CustomizableAdmin::Settings::Role.model_name.human.pluralize %></h3>
        <hr/>
        <% for role in CustomizableAdmin::Settings::Role.all %>
            <div class="checkbox">
              <label>
                <%= check_box_tag "settings_user[role_ids][]", role.id, @item.roles.include?(role) %> <%= role.name %>
              </label>
            </div>
        <% end %>

      </div>
      <div class="panel-footer clearfix">
        <%= f.button :button,
                     :type => 'submit',
                     :class => 'btn btn-primary has-tooltip pull-right',
                     :title => t('commons.save') do %>
            <%= glyphicon(:floppy_disk) %> <%= t('commons.save') %>
        <% end %>
      </div>
    </div>
<% end %>