<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="well clearfix">
      <h2>Modification de mot de passe</h2>
      <hr/>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                          html: {method: :put, class: 'form-horizontal'}, wrapper: :horizontal_form_wl) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.input :password, autofocus: true, autocomplete: "off", placeholder: t('activerecord.attributes.user.password') %>
          <%= f.input :password_confirmation, autocomplete: "off", placeholder: t('activerecord.attributes.user.password_confirmation') %>
          <%= f.submit t('buttons.change_password'), class: 'btn btn-block btn-primary' %>

      <% end %>
      <hr>
      <%= render "customizable_admin/partials/devise_links" %>
    </div>
  </div>
</div>
