<div class="page-header clearfix">

  <h1>
    <%= @current_model.model_name.human.pluralize %>

    <div class="action-buttons-bar pull-right">
      <%= link_to(glyphicon(:chevron_left),
                  settings_roles_path(keep_filters: 1), {
                      :title => t('commons.back'),
                      :class => 'btn btn-primary has-tooltip'}) %>
      <%= link_to(glyphicon(:eye_open), @item,
                  :title => t('commons.show'),
                  :class => 'btn btn-primary has-tooltip') unless (@item.new_record?) %>
    </div>
  </h1>
</div>
<%= simple_form_for(@item, html: {class: 'form-horizontal'}) do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title">
          <h2><%= t('commons.controller.form.panel_heading') %></h2>

          <p class="small">
            <%= t("commons.controller.form.panel_introduction_html") %>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <%#= f.error_messages %>
        <% for field in [:name] -%>
            <%= f.input field %>
        <% end -%>
        <h3>Permissions</h3>
        <hr/>
        <% for p_name in @permissions.select(:subject_class, :name).distinct() %>

            <ul class="list-inline">
              <li class="col-xs-2"><%= p_name.name %></li>
              <% for p in @permissions.select { |p| p.subject_class == p_name.subject_class } %>
                  <li>
                    <label>
                      <%= check_box_tag("settings_role[permission_ids][]", p.id, @item.permissions.include?(p)) %>
                      <%= p.action %>
                    </label>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="panel-footer clearfix">
        <%= f.button :button,
                     :type => 'submit',
                     :class => 'btn btn-primary has-tooltip pull-right',
                     :title => t('commons.save') do %>
            <%= glyphicon(:floppy_disk) %> <%= t('commons.save') %>
        <% end %>
      </div>
    </div>
<% end %>