<div class="page-header clearfix">
  <h1>
    <%= @current_model.model_name.human.pluralize %>
    <span id="total_items" class="badge active"><%= @items.total_entries %></span>

    <div class="action-buttons-bar pull-right">
      <%= link_to(glyphicon(:plus),
                  new_settings_role_path(),
                  :title => t("commons.create"),
                  :class => 'btn btn-primary has-tooltip') %>
      <%= link_to(glyphicon(:export), '#',
                  :title => t("commons.export"),
                  :class => 'btn btn-primary has-tooltip',
                  'data-toggle' => 'modal',
                  'data-target' => '#export_columns') %>
    </div>
  </h1>
</div>

<%= simple_form_for(@current_model.new(@default_attrs),
                    :html => {:action => controller_name, :method => 'get', :id => 'form_search', :class => 'form-inline'},
                    wrapper: :inline_form) do |f| %>
    <div id="accordion" class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-toolbar pull-right">
          <%= link_to(glyphicon(:chevron_up), '#filters',
                      :title => t("commons.filters_visibility"),
                      :class => 'btn btn-default btn-xs btn-collapse has-tooltip',
                      'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'data-placement' => 'left') %>
        </div>

        <div class="panel-title">
          <h2><%= t('commons.controller.index.panel_heading') %></h2>

          <p class="small">
            <%= t("commons.controller.index.panel_introduction_html") %>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <div id="filters" class="small collapse in">
          <% for field in [:id, :name] %>
              <%= f.input field,
                          required: false,
                          placeholder: @current_model.human_attribute_name(field),
                          input_html: {size: nil, class: 'input-sm'} %>
          <% end %>
          <button type="submit" class="btn btn-sm btn-info has-tooltip" title="<%= t('buttons.filter') %>" data-placement="right">
            <%= t('buttons.filter_icon_html') %>
          </button>
          <hr/>
        </div>
      </div>
      <div id="items">
        <%= render(:partial => 'index_items') %>
      </div>
    </div>

    <!-- Modal popups -->
    <%= render(:partial => 'customizable_admin/partials/popup_modal', :locals => {
                                                                            :id => 'export_columns',
                                                                            :fading => true,
                                                                            :buttons => [:close],
                                                                            :modal_title => t('commons.export_fields'),
                                                                            :modal_body_partial => 'customizable_admin/partials/export_columns'}) %>

<% end %>
